################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Kdevelop/Scarlett
/out/build
/.vs
/CMakeCache.txt
/CMakeLists.txt.user
/CMakeSettings.json
/Makefile
/cmake_install.cmake
/Scarlett/Makefile
/CppShift/cmake_install.cmake
/CppShift/Makefile
/Scarlett/cmake_install.cmake
*/CMakeFiles/*
CMakeFiles
VS
out
Kdevelop
x64
out
packages
