################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Kdevelop/Scarlett
/out/build
/.vs
CMakeCache.txt
*.txt.user
*.json
cmake_install.cmake
Makefile
CMakeFiles
VS
out
Kdevelop
x64
out
packages
